@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout
@page "/admin/add-antrian/{Id:int}"
@using System.Text.RegularExpressions
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext dbcontext
@inject NavigationManager nav

<PageTitle>Tambah Antrian</PageTitle>

@if(antrian == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <div class="container-fluid">
        <RadzenFieldset Text="Tambah antrian">
            <RadzenCard>
                <RadzenTemplateForm Data="@antrian" Submit="@(async (Antrian args)=>{await Submit(args);})">
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Pemohon" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Client" Style="width:100%" TextProperty="Nama" TValue="Client" Data="@Clients" Name="Client" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="NIK" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Client" Disabled=true Style="width:100%" TextProperty="NIK" TValue="Client" Data="@Clients" Name="Client"  />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Alamat" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Client" Disabled=true Style="width:100%" TextProperty="Alamat" TValue="Client" Data="@Clients" Name="Client" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Jenis Kelamin" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Client" Disabled=true Style="width:100%" TextProperty="JenisKelamin" TValue="Client" Data="@Clients" Name="Client" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="No Telepon" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Client" Disabled=true Style="width:100%" TextProperty="Telepon" TValue="Client" Data="@Clients" Name="Client" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Client" Disabled=true Style="width:100%" TextProperty="Email" TValue="Client" Data="@Clients" Name="Client" />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Loket" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Layanan" Style="width:100%" TextProperty="Nama" TValue="Layanan" Data="@Layanans" Name="Layanan" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                    </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
                        </div>
                    </div>
                </RadzenTemplateForm>
            </RadzenCard>
        </RadzenFieldset>
    </div>
}



@code {
    [Parameter]
    public int Id { get; set; }

    //Antrian model;
    ICollection<Client> Clients;
    ICollection<Layanan> Layanans;

    Client client = new();
    Antrian antrian = new();
    //Antrian antrian = new();

    protected override Task OnInitializedAsync()
    {
        Clients = dbcontext.Clients.ToList();
        Layanans = dbcontext.Layanans.ToList();

        if (Id <= 0)
        {
            antrian = new Antrian();
        }
        else
        {
            //antrian = (Antrian)antrianid;
            //notPublish = true;

            antrian = dbcontext.Antrians.SingleOrDefault(x => x.Id == Id);
        }


        return base.OnInitializedAsync();
    }

    //protected override Task OnInitializedAsync()
    //{
    //    Clients = dbcontext.Clients.ToList();
    //    if (Id <= 0)
    //    {
    //        antrian = new Antrian();
    //    }
    //    else
    //    {
    //        antrian = dbcontext.Antrians.Include(x => x.Client).SingleOrDefault(x => x.Id == Id);
    //    }
    //    return base.OnInitializedAsync();
    //}

    async Task Submit(Antrian model)
    {
        //model.Client = client.Antrian ;
        var trans = await dbcontext.Database.BeginTransactionAsync();
        if(model.Id <= 0)
        {
            var data = dbcontext.Antrians.Where(x => x.TanggalAntrian > DateTime.Today && x.Layanan == model.Layanan);
            model.Nomor = data.Count()+1;
            dbcontext.Antrians.Add(model);
            await dbcontext.SaveChangesAsync();
            await trans.CommitAsync();
        }
        else
        {
            dbcontext.SaveChanges();
            await trans.CommitAsync();
        }
        nav.NavigateTo("admin/antrian");

    }

    void Cancel()
    {
        nav.NavigateTo("admin/antrian");
    }

}
